/* AddRecordForm.css */

.add-record-form-container {
    background-color: rgba(0, 0, 0, 0.918);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
}

.add-record-form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #f2f2f2;
}

.add-record-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.submit-btn {
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #45a049;
}